$text-color: black;
$text-birthday-color: pink;
$bg-birthday-color: rgba(255, 192, 203, 0.42);
$vacation-color: rgba(7, 208, 8, 0.54);
$not-vacation-color: rgba(128, 128, 128, 0.51);
$bg-dark: rgba(31, 31, 30, 0.44);
$bg-light: #dae5ef;

$bg-color: #2D506D;
$main-btn-color: #52C4BB;
$sub-btn-color: #FFA227;

* {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

html, body, #container {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

td{
  min-width: 100px;
  min-height: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-main-color {
  background-color: $main-btn-color;
  border: none;
  color: white;
}

.form-control {
  margin-bottom: 30px;
  background-color: transparent !important;
  border-radius: 0px;
  color: white !important;
}
.form-control:focus {
  box-shadow: none !important;
}

.col-calendar, .col-schedule {
  min-height: 50%;
}
.col-schedule {
  background-color: white;
}

.auth-page {
  background-color: $bg-color;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 20px;

  .row-logo {
    .logo- {
      width: auto;
      margin: auto;
    }
  }
  .row-login-container, .row-register-container {
    overflow-y: auto;
    small {
      color: white;
      display: block;
    }
    .form-control {
      margin-bottom: 30px;
      background-color: transparent !important;
    }
    .btn-login, .btn-signup {
      display: block;
      margin: auto;
      margin-top: 40px;
      border-radius: 40px;
      padding: 10px;
      width: 50%;
      max-width: 200px;
    }
    .link-signup, .link-login {
      margin-top: 20px;
      a { 
        color: white;
      }
    }
  }
}
.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
}
.login-page {
  .row-logo {
    height: 40%;
    .logo- {height: 30%;}
  }
  .row-login-container {height: 60%;}
}
.register-page {
  .row-logo {
    height: 30%;
    .logo- {height: 50%;}
  }
  .row-register-container {
    height: 70%;
    padding: 20px;
  }
}
.scheduler-status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.btn-rounded {
  border-radius: 40px;
}
.home-page {
  background-color: $bg-color;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  .schedule-container {
    height: 100%;
    color: $bg-color;
    padding: 20px;
    .form-icon {
      height: 20px;
    }

    .btn-rounded { width: 100%; font-size: 12px;}
    .active-menu {
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    .none-active-menu {
      background-color: transparent;
    }
  }
}

.btn-request {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $main-btn-color;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  font-size: 9px;
  color: white;

  position: absolute;
  right: 20px;
  bottom: 20px;
  .requestform-icon {
    margin: auto;
    width: 30px;
    height: 30px;
    display: block;
  }
}

.btn-form- {
  background-color: transparent;
  color: $bg-color;
}
.btn-form-active {
  background: $sub-btn-color !important;
  color: white;
}

.icon-click{
  cursor: pointer;
  &:hover{
    color: lighten($text-color, 50)
  }
}

.day.today{
  color: red
}
.not-vacation{
  background-color: $not-vacation-color;
}
.vacation{
  background-color: $vacation-color;
}


.form-control {
  margin-bottom: 15px;
  background: $bg-light;
  div{
    margin-top: 3em;
  }
}
.form-control:focus { background-color: $bg-light; }

.loading-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: $bg-dark;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    position: relative;
    margin-top: 50%;
  }
  img {width: 30px;}
}
.loading { width: 30px; }
.loading-wrapper.image-loading{
  background: #43424280;
}

.modal-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: $bg-dark;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-inner{
    position: relative;
    background-color: white;
    padding: 5em 2em;
    width: 50%;
    height: 80%;
  }
}

.close-icon{
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 2em;
  cursor: pointer;
}
.birth-day{
  color: white;
  background-color: $bg-birthday-color;
}


@media screen and (min-width: 768px) { 
  
  .home-page {
    overflow-y: auto;
  }
  .schedule-container {
    height: 100vh;
  }
}
@media screen and (max-width: 767px) { 
  
  .home-page {
    overflow-y: auto;
  }
}

